@charset "UTF-8";


* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #000 url('../images/waldorf-astoria-bg.jpg') top center no-repeat;
}

img {
	border: none;	
}
.clear {
	clear: both;
}
#wrapper {
	margin: 0px auto;
	min-width: 1284px;
}
#content {
	margin: 150px auto 50px auto;	
}



#magazine{
	height: 862px;
	margin: 0px auto;
	overflow: hidden;
	position: fixed;
	width: 1284px;
}
#magazine .turn-page{
	background-color: #ccc;
	background-size: 100% 100%;
}



@media all {
	#wrapper {
		-moz-transition: width 1s ease-in-out;
		-o-transition: width 1s ease-in-out;
		-webkit-transition: width 1s ease-in-out;
		transition: width 1s ease-in-out;
	}
}



/*
	Very large screens >= 1400px
	Total 5 Column Width = 1165px, Columns = 233px, Gutter = 0px
*/
@media screen and (min-width: 1400px){
	#wrapper {
		margin: 0px auto;
		width: 1284px;
	}
	#magazine {
		height: 862px;
		width: 1284px;
	}
}



/*
	Large screens 1200px - 1399px
	Total 5 Column Width = 1000px, Columns = 200px, Gutter = 0px
*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	#wrapper {
		margin: 0px auto;
		width: 1000px;
	}
	#magazine {
		height: 671px;
		width: 1000px;
	}
}



/*
	Desktop screens 960px - 1199px
	Total 5 Column Width = 800px, Columns = 160px, Gutter = 0px
*/
@media screen and (min-width: 960px) and (max-width: 1199px) {
	#wrapper {
		margin: 0px auto;
		width: 860px;
	}
	#magazine {
		height: 577px;
		width: 860px;
	}
}



/*
	Netbook, iPad (landscape) screens 860px - 959px
	Total 5 Column Width = 715px, Columns = 143px, Gutter = 0px	
*/
@media screen and (min-width: 860px) and (max-width: 959px) {
	#wrapper {
		margin: 0px auto;
		width: 780px;
	}
	#magazine {
		height: 524px;
		width: 780px;
	}
}



/*
	iPad (portrait) screens 760px - 859px
	Total 5 Column Width = 730px, Columns = 146px, Gutter = 0px
*/
@media screen and (min-width: 760px) and (max-width: 859px) {
	#wrapper,
	.wrap {
		margin: 0px auto;
		width: 700px;
	}
	#logo {
		height: 50px;
		width: 200px;
	}
	#html5 p {
		font-size: 22px;	
	}
}



/*
	Screens 640px - 759px
	Total 5 Column Width = 600px, Columns = 120px, Gutter = 0px
*/
@media screen and (min-width: 640px) and (max-width: 759px) {	
	#wrapper,
	.wrap {
		margin: 0px auto;
		width: 600px;
	}
	#logo {
		height: 50px;
		width: 200px;
	}
	#html5 p {
		font-size: 19px;	
	}
}


	
/*
	Screens 420px - 639px
	Total 5 Column Width = 400px, Columns = 80px, Gutter = 0px
*/	
@media screen and (min-width: 420px) and (max-width: 639px) {
	body {
		background-image: none;	
	}
	#wrapper,
	.wrap {
		margin: 0px auto;
		width: 95%;
	}
	#logo {
		display: block;
		height: 50px;
		margin: 15px auto -5px auto;
		width: 200px;
	}
	#connect {
		display: none;	
	}
	#content {
		margin-top: 0px;
		min-height: 200px;	
	}
	#html5 {
		text-align: center;
		width: 75%;
	}
	#html5 #html5-logo {
		float: none;	
	}
	#html5 p {
		clear: both;
		display: block;
		font: 28px/1.1em 'Gochi Hand', cursive;
		letter-spacing: 0.05em;
		margin: 12px auto 0px auto;
	}
	#html5 #made {
		letter-spacing: 0.05em;
		margin: 23px 0px 30px 0px;
	}
}



/*
	iPhone (portrait) screens 320px - 419px
	Total 5 Column Width = 300px, Columns = 60px, Gutter = 0px
*/
@media screen and (min-width: 320px) and (max-width: 419px) {
	body {
		background-image: none;	
	}
	#wrapper,
	.wrap {
		margin: 0px auto;
		width: 95%;
	}
	#logo {
		display: block;
		height: 50px;
		margin: 15px auto -5px auto;
		width: 200px;
	}
	#connect {
		display: none;	
	}
	#content {
		margin-top: 0px;
		min-height: 200px;	
	}
	#html5 {
		padding-bottom: 20px;
		text-align: center;
		width: 80%;
	}
	#html5 #html5-logo {
		float: none;	
	}
	#html5 p {
		clear: both;
		display: block;
		font: 22px/1.1em 'Gochi Hand', cursive;
		letter-spacing: 0.05em;
		margin: 12px 0px 0px 0px;
	}
	#html5 #made {
		font: 10px/1.2em 'Ubuntu', sans-serif;
		letter-spacing: 0.04em;
		margin: 23px 0px 30px 0px;
	}
	#copyright {
		font-size: 10px;	
	}
}



/*  Screens 0px - 319px  */
@media screen and (min-width: 0px) and (max-width: 319px) {
	#wrapper,
	.wrap {
		margin: 0px auto;
		width: 160px;
	}
	#logo {
		height: 25px;
		width: 100px;
	}
}



/*  Print  */
@media print {
			
}